.constructor__order {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    margin: 40px 15px 50px 0;
}

.constructor__price {
    gap: 8px;
    display: flex;
    align-items: center;
}