.ingredients__section {
    max-width: 600px;
}

.ingredients__menu {
    display: flex;
}

.ingredients__list {
    margin: 0;
    list-style-type: none;
    overflow-y: auto;
    padding: 0;
    max-height: 50vh;
}