.title {
    margin-top: 53px;
    margin-left: 41px;
}

.paragraph {
  margin-top: 17px;
}

.container {
    list-style: none;
    width: 516px;
    display: flex;
    justify-content: space-between;
    margin: 32px 0 60px 0;
    padding: 0;
    position: relative;
}

.image {
    margin-top: 12px;
}

.text {
    color: #8585ad;
}

.item {
    color: #8585ad;
    display: flex;
    flex-direction: column;
    align-items: center;
}